<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IurAir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <IurAir.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>207</value>
      </setting>
      <setting name="OfficeId" serializeAs="String">
        <value>AGPI10000</value>
      </setting>
      <setting name="AgentDutyCode" serializeAs="String">
        <value>SU</value>
      </setting>
      <setting name="AgentInitials" serializeAs="String">
        <value>AC</value>
      </setting>
      <setting name="NetworkIdentifier1" serializeAs="String">
        <value>1A</value>
      </setting>
      <setting name="TerminalIdentifier1" serializeAs="String">
        <value>1122334</value>
      </setting>
      <setting name="NetworkIdentifier2" serializeAs="String">
        <value>1A</value>
      </setting>
      <setting name="TerminalIdentifier2" serializeAs="String">
        <value>1122334</value>
      </setting>
      <setting name="AgencyIATA" serializeAs="String">
        <value>78225906</value>
      </setting>
      <setting name="IurFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="BackOfficeFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ErrorFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="Startup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoConvert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultCurrency" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PersistentDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomFileFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomFormatPattern" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SplitPerPax" serializeAs="String">
        <value>False</value>
      </setting>
    </IurAir.Properties.Settings>
  </userSettings>
</configuration>